/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

:root {
    /*--qwik-dark-blue: #006ce9;*/
    /*--qwik-light-blue: #18b6f6;*/
    /*--qwik-light-purple: #ac7ff4;*/
    /*--qwik-dark-purple: #713fc2;*/
}

body {
    background-color: #fafafa;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 20px 20px 40px 20px;
}


h1,
h2 {
    margin: 0 0 5px 0;
}
